[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flask-swagger-ui = "*"
flake8 = "*"
black = "*"

[packages]
alembic = "*"
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-cors = "*"
jwt = "*"
requests = "*"
cryptography = "*"
flask-swagger-ui = "*"

[requires]
python_version = "3.12"
