[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
black = "*"
flask-swagger-ui = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
requests = "*"
uwsgi = "*"

[requires]
python_version = "3.12"
